/* You can add global styles to this file, and also import other style files */

$bgColor: #00eeff;

.debug1 {
    background-color: yellow;
}
.debug2 {
    background-color: red;
}

.debug3 {
    background-color: blue;
}

